<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :at %><br>
    <%= f.date_select :at %>
  </div>
  <div class="field">
    <%= f.label :spent %><br>
    <% if @item.spent.nil? %>
      <%= f.number_field :spent, :value => 1 %>
    <% else %>
      <%= f.number_field :spent %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>

  <% if @tags %>
    <% unless @tags.size == 0 %>
      <div class="field">
        <label>tag</label><br>
        <select multiple>
          <% @tags.each do |t|%>
            <option value="<%= t.name %>"><%= t.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
