<h1>Study-log</h1>
<p id="notice"><%= notice %></p>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider" style="color:black">
      <%= getToday %><%= getTodayYoubi %>
    </li>
    <li class="table-view-cell">
      <%= link_to_new %>
    </li>
    <li class="table-view-cell">
      <%= link_to_tag_index %>
    </li>
  </ul>
</div>

<% if @items_all.size > @items_per_page %>
  <div class="card">
    <ul class="table-view">
        <li class="table-view-cell">
          <%= paginate(@items) %>
        </li>
    </ul>
  </div>
<% end %>


<div class="card">
  <ul class="table-view">

  <% divider = [] %>
  <% @items.each do |item| %>
    <% unless divider.index(item.at.strftime("%Y-%m-%d"))%>
      <% divider.push(item.at.strftime("%Y-%m-%d"))%>
      <li class="table-view-cell table-view-divider" style="color:black">
        <%= item.at.strftime("%Y-%m-%d") %>
        <%= getYoubi(item.at.wday) %>
      </li>
    <% end %>

    <li class="table-view-cell">
      <a class="push-right" href="<%= edit_item_path(item) %>">
        <div>
          <%= item.title %>
        </div>
        <div>
          <b><%= item.spent %>時間</b>
        </div>
      </a>
    </li>
  <% end %>
  </ul><!-- class="table-view" -->
</div><!-- card -->

<% if @items_all.size > @items_per_page %>
  <div class="card">
    <ul class="table-view">
        <li class="table-view-cell">
      <%= paginate(@items) %>
        </li>
    </ul>
  </div>
<% end %>
