<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>At:</strong>
  <%= @item.at %>
</p>

<p>
  <strong>Spent:</strong>
  <%= @item.spent %>
</p>

<p>
  <strong>Note:</strong>
  <%= @item.note %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
